@using _2021_dotnet_g_28.Models.viewmodels
@using _2021_dotnet_g_28.Data.Repositories
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actemium | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>
<body>
    <div>
    </div>
    <!-- Vertical navbar -->
    <nav class="navbar" id="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <img src="~/img/logo-actemuim.png" id="img1" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ticket" asp-action="Index">
                    <i class="fas fa-ticket-alt fa-fw"></i>
                    <span class="link-text">@Localizer["Tickets"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-chart-line fa-fw"></i>
                    <span class="link-text">@Localizer["Statistics"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Contract" asp-action="Index">
                    <i class="fas fa-copy fa-fw"></i>
                    <span class="link-text">@Localizer["Contracts"]</span>
</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Faq" asp-action="Index">
                    <i class="fas fa-question-circle fa-fw"></i>
                    <span class="link-text">@Localizer["Faq"]</span>
                </a>
            </li>
            <li class="nav-item">
            </li>

            <li class="nav-item">
                <a class="nav-link">

                    <span class="link-text">@User.Identity.Name</span>
                </a>
            </li>
            <li class="nav-item">

                <a class="nav-link" asp-controller="Account" asp-action="Logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-text">@Localizer["SignOut"]</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-warning">@TempData["error"]</div>
        }
        @RenderBody()
        @await Html.PartialAsync("_SelectLanguagePartial")
    </main>
    <!--End Vertical Navbar-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)

</body>
</html>