@using _2021_dotnet_g_28.Models.viewmodels
@using _2021_dotnet_g_28.Data.Repositories
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actemium | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>
<body>
    <div>
    </div>
    <!-- Vertical navbar -->
    <nav class="navbar" id="navbar">

        <ul class="navbar-nav">
            <li class="logo">
                <img src="~/img/logo-actemuim.png" id="img1" />
            </li>

            @if (User.IsInRole("Customer") && ViewData["Notifications"] != null)
            {
                var notifications = ViewData["Notifications"] as List<_2021_dotnet_g_28.Models.Domain.Notification>;
                <li id="notificationLi">
                    <button type="button" class="btn btn-primary" id="open-notif">
                        <span>@Localizer["Notifications"]</span>
                        <span class="badge badge-light">@notifications.Count(n => !n.IsRead)</span>
                    </button>
                    <div class="notifications" id="box">
                        @foreach (var notif in notifications)
                        {
                            <div class="notifications-item">
                                <div class="text">
                                    <h4>
                                        @notif.Action
                                        @if (!notif.IsRead)
                                        {<span class="badge rounded-pill bg-danger text-light">New</span>}
                                    </h4>
                                    <p>@notif.TicketName</p>
                                </div>
                            </div>
                        }
                    </div>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" asp-controller="Ticket" asp-action="Index">
                    <i class="fas fa-ticket-alt fa-fw"></i>
                    <span class="link-text">@Localizer["Tickets"]</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Statistic" asp-action="Index">
                    <i class="fas fa-chart-line fa-fw"></i>
                    <span class="link-text">@Localizer["Statistics"]<span>
                </a>
            </li>
            @if (!User.IsInRole("SupportManager"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contract" asp-action="Index">
                        <i class="fas fa-copy fa-fw"></i>
                        <span class="link-text">@Localizer["Contracts"]</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Faq" asp-action="Index">
                        <i class="fas fa-question-circle fa-fw"></i>
                        <span class="link-text">@Localizer["Faq"]</span>
                    </a>
                </li>
            }

            <li class="gebrEnLogout">
                <ul class="navbar-nav">
                    <li class="gebruikersnaam">
                        @ViewData["gebruikersnaam"]
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="link-text">@Localizer["SignOut"]</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <main>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-warning">@TempData["error"]</div>
        }
        @RenderBody()
    </main>
    <!--End Vertical Navbar-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

<script>
    $(document).ready(function () {
        var down = false;
        $('#open-notif').click(function (e) {
            var color = $(this).text();

            if (down) {
                $('#box').css('display', 'none');
                down = false;
            } else {
                $('#box').css('display', 'inherit');
                down = true;

            }
        });
    });

    $(".alert").fadeTo(8000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
    });

</script>