@using _2021_dotnet_g_28.Models.Viewmodels;
@model TicketIndexViewModel
@section Styles {
    <link href="~/css/TicketIndex.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Tickets";
}

<h1>@ViewData["Title"]</h1>

<div class="accordion-container">
    @foreach (var item in Model.Tickets)
    {
    <button class="accordion">
        <div class="accordion-title accordion-title-first">@item.TicketNr</div>
        <div class="accordion-title accordion-title-second-third">@item.Title</div>
        <div class="accordion-title accordion-title-second-third">@item.Status</div>
    </button>
        <div class="panel">
            <div class="panel-half">
                <p>Datum aanmaken: @item.DateCreation</p>
                <p>Type: @item.Type</p>
                <p>Toegewezen technieker: </p>
                <p>Opmerkingen: @item.Remark</p>
                <p>Bijlages: @item.Attachments</p>
            </div>
            <div class="panel-half">
                <p class="omschrijving">Omschrijving: </p>
                <div class="description">
                    @item.Description
                </div>
            </div>
            <button class="edit-button">Wijzigen</button>
        </div>
    }
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>


