@model _2021_dotnet_g_28.Models.Domain.Contract
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["DetailsContract"];
}



<div>
    <h1>@ViewData["Title"]</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["ContractNr"]
            
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractNr)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Duration"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Localizer["EndDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["StartDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Status"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Localizer["NameOfContract"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">@Localizer["BackToList"]</a>
</div>
