@using _2021_dotnet_g_28.Models.Viewmodels
@using _2021_dotnet_g_28.Models.Domain
@model TicketEditViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = (bool)ViewData["IsEdit"] ? Localizer["EditTicket"] : Localizer["CreateTicket"]; }

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">@Localizer["Title"]</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @if (@ViewData.ContainsKey("Customers"))
            {
                <div class="form-group">
                    <label asp-for="CompanyNr">@Localizer["Company"]</label>
                    <select asp-for="CompanyNr" asp-items="@(ViewData["Customers"] as SelectList)" class="form-control">
                        <option disabled>Assign Company</option>
                    </select>
                    <span asp-validation-for="CompanyNr" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Type" class="control-label">@Localizer["Type"]</label>
                <select asp-for="Type" class="form-control"
                        asp-items="Html.GetEnumSelectList<TicketEnum.Type>()">
                    <option disabled >Select Priority</option>
                </select>

                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Remark" class="control-label"></label>
                    <textarea asp-for="Remark" class="form-control"></textarea>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["Attachment"]</label>
                <div>
                    <input type="file" class="" name="Attachments" value="upload" asp-for="Attachments" multiple="multiple" accept=".pdf,.gif,.jpg,.jpeg,.png,.doc,.docx" />
                    @if (ViewData["errorMessageSize"] != null)
                    {
                        <p class="alert-danger">@ViewData["errorMessageSize"]</p>
                    }
                    @if (ViewData["errorMessageType"] != null)
                    {
                         <p class="alert-danger">@ViewData["errorMessageType"]</p>
                    }
                    @if (ViewData["errorMessageAmount"] != null)
                    {
                        <p class="alert-danger">@ViewData["errorMessageAmount"]</p>

                    }
                </div>



            </div>

            <div class="form-group">
                @if ((bool)ViewData["IsEdit"])
                {
                    <input type="submit" value=@Localizer["EditTicket"] class="btn btn-primary" /> }
                else
                {
                    <input type="submit" value=@Localizer["CreateTicket2"] class="btn btn-primary" />}
            <a asp-action="Index">@Localizer["Cancel"]</a>
            </div>

        </form>
    </div>
</div>

<div>

</div>
@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}