@model _2021_dotnet_g_28.Models.Domain.Contract
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["DetailsContract"];
}


<h2>@ViewData["Title"]</h2>




<div class="row">
    <div class="col-4">
        @Html.DisplayNameFor(model => model.ContractNr)
        :
        @Html.DisplayFor(model => model.ContractNr)
    </div>
    <div class="col-4">
        @Html.DisplayNameFor(model => model.StartDate)
        :
        @Html.DisplayFor(model => model.StartDate)
    </div>
    <div class="col-4">
        @Html.DisplayNameFor(model => model.Duration)
        :
        @Html.DisplayFor(model => model.Duration)
        @if (Model.Duration > 1)
        {<span>years</span>}

        else
        {<span>year</span>}
    </div>


</div>
<div class="row">
    <div class="col-4">
        <p>Company: @Model.Company.CompanyName</p>

    </div>
    <div class="col-4">
        @Html.DisplayNameFor(model => model.EndDate)
        :
        @Html.DisplayFor(model => model.EndDate)
    </div>
    <div class="col-4">
        @Html.DisplayNameFor(model => model.Status)
        :
        @Html.DisplayFor(model => model.Status)
    </div>
</div>

<div class="container col-md-10 align-self-center border text-center text-secondary">
    <h2 class="text-center"> ContractType info</h2>

    <div class="row">
        <div class="col-5 ">
            @Html.DisplayNameFor(model => model.Type.Name):
            @Html.DisplayFor(model => model.Type.Name)
        </div>
        <div class="col-5">
            @Html.DisplayNameFor(model => model.Type.MinDuration):
            @Html.DisplayFor(model => model.Type.MinDuration)

        </div>
    </div>
    <div class="row">
        <div class="col-5">
            @Html.DisplayNameFor(model => model.Type.MaxResponseTime):
            @Html.DisplayFor(model => model.Type.MaxResponseTime)
        </div>
        <div class="col-5">
            @Html.DisplayNameFor(model => model.Type.IsOutsideBusinessHours):
            @if (Model.Type.IsOutsideBusinessHours)
            {<span>24/7</span>}
            else
            {<span>Weekdays (8-17)</span>}
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            @Html.DisplayNameFor(model => model.Type.Price):
            @Html.DisplayFor(model => model.Type.Price)
        </div>
        <div class="col-5">
            @Html.DisplayNameFor(model => model.Type.CreationMethod):
            @Html.DisplayFor(model => model.Type.CreationMethod)
        </div>
    </div>
</div>
<a class="btn btn-primary" asp-action="Index">Back to List</a>

